# Defaults for editor applications
#
# https://EditorConfig.org

# Specifies that this is the top-level EditorConfig
root = true

# Defaults for any type of file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = false

# Set default charset
[*.{js,md,mk,py,tf,tfvars}]
charset = utf-8

[*.{js}]
indent_size = 2
indent_style = space
max_line_length = 80

[*.md]
max_line_length = 0

[*.py]
indent_size = 4
indent_style = space
max_line_length = 88 # Black format defaults to 88

[*.{tf,tfvars}]
indent_size = 2
indent_style = space
max_line_length = 80

# Makefiles require tab indentation
[Makefile]
indent_style = tab

[*.mk]
indent_style = tab
